geopandas==0.13.0
imbalanced-learn==0.12.3
matplotlib==3.7.1
matplotlib-inline==0.1.7
numpy==1.24.3
numpydoc==1.5.0
openpyxl==3.1.5
pandas==2.0.1
pandas-datareader==0.10.0
scikit-learn==1.2.2
seaborn==0.12.2
shap==0.44.1
shapely==2.0.4
xgboost==1.7.5
yellowbrick==1.5
